@import "variables.css";
@import "fonts.css";

html {
    scroll-behavior: smooth;
}

.markdown h1:first-child {
    --ifm-h1-font-size: 2.8rem;
}

.navbar {
    border-bottom: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
}

@supports(scrollbar-gutter:stable) {
    .menu_Y1UP {
        padding: .5rem 0 .5rem .5rem;
        scrollbar-gutter: stable
    }
}

.clean-btn.menu__caret::before {
    background: var(--ifm-menu-link-sublist-icon) 50%/1.8rem 1.8rem;
    height: 0.9rem;
    width: 0.9rem;
}

.menu {
    border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
    font-size: .9rem;
    font-weight: var(--ifm-font-weight-normal);
    margin-top: calc(var(--ifm-global-border-width)*-1);
    padding-top: calc(1rem + var(--ifm-toc-padding-vertical)) !important;
}
